
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hello Last Bench Coder</title>
</head>
<body>
    <div>
        <h1>
            Hello Last Bench Coder World
        </h1>
        <p>
            This is just simple application created by mvc
        </p>
        <p>
            Learn codin in your style. Please reach out to us in case any concerns <a href="/">Click Here</a>
        </p>
    </div>
</body>
</html>
